<br>
<div class="col s8" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211573.47891455327!2d-84.41610241681605!3d34.048087797719745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f50f5e2a520d55%3A0x4b8cc53bf5bf953b!2sGE+Digital!5e0!3m2!1sen!2sus!4v1543601924220"
        width="750" height="600"  style="border:2" allowfullscreen></iframe>
</div>
<div class="col s4" >
      <section class="card-panel section ">
         
        <h4>Site Data</h4>
        <div >
            <p id="location">Location: 3745 Piedmont RD</p>
        </div>

          <div class="divider"></div>

        <div >
            <p id="location">Item(s): 75 </p>
        </div>

          <div class="divider"></div>

        <div >
            <p id="location">Cost: $700,000</p>
        </div>

          <div class="divider"></div>

        <div >
            <p id="location">Notes: John Smith Manager</p>
        </div>
   

    
    </section>
</div>