<br>
<div id="setMap" class="col s8">
    {{!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=GE%20Digital%20Buckhead&key=AIzaSyClE-i25aT8wlR70lQ4zrBNnQm2Dfmg2nQ"
        allowfullscreen></iframe> --}}
</div>
<script>
    console.log("Let there be data below");
</script>
<div class="col s4">
    <section class="card-panel section ">

        <h4>Site Data</h4>
        <div>
            <p id="location">Location:</p>
        </div>

        <div class="divider"></div>

        <div>
            <p id="items">Total Items:</p>
        </div>

        <div class="divider"></div>

        <div>
            <p id="cost">Cost:</p>
        </div>

        <div class="divider"></div>

        <div>
            <p id="serviceSLA">Service SLA:</p>
        </div>
        
    </section>
</div>