<div class="navbar-fixed">
  <nav class="nav-extended blue darken-4">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="bluebrand-logo">INSURANCE FOR U!</a>
        <a href="/home" id="userprofile"></a>
        <a href="#" data-activates="mobile-nav" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a id="index" href="/">INDEX</a></li>
          <li><a id="home" href="/home">HOME</a></li>
          <li><a id="login" href="/login">LOGIN</a></li>
          <li><a id="admin" href="/admin">ADMIN</a></li>
          <li><a id="login" href="/customer">CUSTOMER</a></li>
          <li><a id="admin" href="/site">SITE</a></li>
          {{!-- Step 1 for adding pages --}}
          <li><a id="test" href="/test">TEST</a></li>
          <li>
            <a href="/home">
            <img style="margin-top: 15px; height: 25px; width: 25px;" class="circle" src="https://randomuser.me/api/portraits/thumb/women/33.jpg">
          </a></li>

        </ul>
      </div>
    </div>
  </nav>
</div>

</nav>
</div>
<ul class="side-nav" id="mobile-nav">
  <li>

    <div style="background-image: url(/assets/img/general-electric.jpg);" class="user-view">
      <a href="#!"><img class="circle" src="https://randomuser.me/api/portraits/thumb/women/33.jpg">
      </a>
      <a href="#!"><span class="white-text name">Jane Doe</span></a>
      <a><span class="white-text email">500210048</span></a>
    </div>
  </li>
  <li>
    <a href="#!">
          <i class="material-icons">dashboard</i>Dashboard</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="waves-effect" class="subheader" href="#!">Account Info</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="waves-effect" id="index" href="/">INDEX</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a id="home" href="/home">HOME</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a id="login" href="/login">LOGIN</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a id="admin" href="/admin">ADMIN</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a id="login" href="/customer">CUSTOMER</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a id="admin" href="/site">SITE</a></li>
  <li>
    <div class="divider"></div>
  </li>
  {{!-- Step 1 for adding pages --}}
  <li><a id="test" href="/test">TEST</a></li>
</ul>

<style type="text/css">

</style>