<nav class="nav-extended blue darken-4">
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="bluebrand-logo">INSURANCE FOR U!</a>
            <a href="/home" id="userprofile"></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="index" href="/">INDEX</a></li>
                <li><a id="home" href="/home">HOME</a></li>
                <li><a id="login" href="/login">LOGIN</a></li>
                <li><a id="admin" href="/admin">ADMIN</a></li>
                <li><a id="login" href="/customer">CUSTOMER</a></li>
                <li><a id="admin" href="/site">SITE</a></li>
                {{!-- Step 1 for adding pages --}}
                <li><a id="test" href="/test">TEST</a></li>
            </ul>
        </div>
    </div>
</nav>