<!-- Section: Slider -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="/assets/img/gettyimages-539405468-1024x1024.jpg" alt="">
            <div class="caption right-align">
                <h2 class="blue lighten-4" >Lorem ipsum dolor sit amet consectetur </h2>
                <h5  class="light blue lighten-4 text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="/assets/img/accounting-alone-application.jpg" alt="">
            <div class="caption center-align">
                <h2 class="blue lighten-4">Lorem ipsum dolor sit amet
                </h2>
                <h5 class="light blue lighten-4 text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="/assets/img/adult-business-computers.jpg" alt="">
            <div class="caption left-align">
                <h2 class="blue lighten-4" >Vero atque impedit error amet</h2>
                <h5 class="light blue lighten-4 text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>

        {{!-- <li>
            <img src="/assets/img/general-electric.jpg" alt="">
            <div class="caption right-align">
                <h2>Group & Individual Getaways</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="/site" class="btn btn-large">Learn More</a>
            </div>
        </li> --}}
    </ul>
</section>
