<!-- Section: Slider -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="/assets/img/network.jpg" alt="">
            <div class="caption right-align">
                <h2 class="">GE NewCo Services</h2>
                <h5  class="light  text-lighten-3 hide-on-small-only">Our project is designed as a prospective platform for external customers to enlist GE NewCo Services.</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="/assets/img/banner-909710_1920.jpg" alt="">
            <div class="caption center-align">
                <h2 class="">Mobile Connectivity</h2>
                <h5 class="light  text-lighten-3 hide-on-small-only">Our secure solutions provide visibility and connectivity at reduced rates.</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="/assets/img/manage.jpg" alt="">
            <div class="caption left-align">
                <h2 class="" >24x7x365 Site Monitoring and Management</h2>
                <h5 class="light  text-lighten-3 hide-on-small-only">Manage your site from anywhere!!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>

        {{!-- <li>
            <img src="/assets/img/general-electric.jpg" alt="">
            <div class="caption right-align">
                <h2>Group & Individual Getaways</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="/site" class="btn btn-large">Learn More</a>
            </div>
        </li> --}}
    </ul>
</section>
