<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Assets scanning</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="copyright" content="This project is maintained by YY">
    <meta name="description" content="QuaggaJS is an advanced barcode-reader written in JavaScript">
    <meta name="keywords" content="barcode, javascript, canvas, computer vision, image processing, ean, code128">
    <meta name="robots" content="index,follow">

    <link rel="canonical" href="https://serratus.github.io/v1.0.0-beta.1/examples/scan-to-input/">
    <link rel="stylesheet" href="https://serratus.github.io/quaggaJS/stylesheets/styles.css">
    <link rel="stylesheet" href="https://serratus.github.io/quaggaJS/stylesheets/example.css">
    <link rel="stylesheet" href="https://serratus.github.io/quaggaJS/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script><script>
        var host = "serratus.github.io";
        if ((host == window.location.host) && (window.location.protocol != "https:")) {
            window.location.protocol = "https";
        }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56318310-1', 'auto');
      ga('send', 'pageview');

    </script>

    <link rel="stylesheet" type="text/css" href="https://serratus.github.io/quaggaJS/stylesheets/prism.css">
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    <script src="/assets/js/auth.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <title>Insurance!</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import jQuery before materialize.js-->
    <!--Import needed for material elements-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>

    <title>Custom Materialize Theme</title>
</head>

    <body>
        {{{ body }}}
    </body>

<script >
      $(document).ready(function () {
    // Init Side nav
    $('.button-collapse').sideNav();

    // Init Slider
    $('.slider').slider({
      indicators: false,
      height: 500,
      transition: 500,
      interval: 6000
    });

    //Hide all elements while on the index screen


  });
</script>
</html>