<!DOCTYPE html>
<html>

<head>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    <script src="/assets/js/auth.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <title>GE NewCo Services</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import jQuery before materialize.js-->
    <!--Import needed for material elements-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>

    <title></title>
</head>

    <body>
        {{{ body }}}
    </body>

<script >
      $(document).ready(function () {
    // Init Side nav
    $('.button-collapse').sideNav();

    // Init Slider
    $('.slider').slider({
      indicators: false,
      height: 500,
      transition: 500,
      interval: 6000
    });

    //Hide all elements while on the index screen


  });
</script>
</html>