{{> nav }}

<!-- Section: Contact -->
<div class="container">

    <span id="listmessage" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Show Location</span>


    <div class="row">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#" onclick="closeNav()">Site Locations</a> {{!-- <a href="#">GE Digital</a> --}}
            <ul id='sitesList'>
                <li>{{> siteManager }}</li>
            </ul>
        </div>
        <div>
            {{> googlemap }}
        </div>
        <div>
            <p>SOME TEXT</p>
            {{> siteManager }}
        </div>


        <script>
            var listofsites = [];
            var siteuid = "{{#each siteManager}}{{uuid}}{{/each}}";
            $("#listmessage").click(function () {
                $("#sitesList").empty();

                var myuuid = localStorage.getItem("uuid");
                $.ajax("http://localhost:3000/api/sites/" + myuuid, {
                    type: "GET"
                }).then(function (r) {
                    //  var somedata = JSON.stringify(r);
                    for (let i = 0; i < r.sites.length; i++) {
                        listofsites.push(r.sites[i].siteaddress);
                        $("#sitesList").append("<li><a class='location'>" + r.sites[i].siteaddress + "</a></li>");
                    }
                    //var rshowonpage = JSON.parse(rshow);
                    //   alert(listofsites);
                });
            });

            // document.getElementById("mySidenav").style.width = "250px";
            $(document).on("click", ".location", show_location_data_cb);

            function show_location_data_cb() {
                $("#setMap").empty();
                $("#location").empty();
                console.log(this);
                console.log(this.text);
                $("#setMap").append('<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=' + this.text + '&key=AIzaSyClE-i25aT8wlR70lQ4zrBNnQm2Dfmg2nQ" allowfullscreen></iframe>');
                $("#location").text("Location: " + this.text);
            }

            function openNav() {
                $("#listmessage").hide();
                document.getElementById("mySidenav").style.width = "250px";

            }
            function closeNav() {
                $("#listmessage").show();
                document.getElementById("mySidenav").style.width = "0";
            }

            const customerpage = function () {

                $(".home").show();
                $(".admin").hide();
                $(".customer").hide();
                $(".site").hide();
                $(".index").hide();
                $(".login").hide();
                //$("#mySidenav").hide();
                //Test
                $(".test").hide();
            };
            customerpage();
        </script>

    </div>
</div>




<div class="container">
    <div class="row">
        <div>
            <a href="/site" class="btn btn-large">Request new site</a>
            <a href="/scanner" class="btn btn-large">Camera widget </a>
            <a href="/siteassets" class="btn btn-large">My Sites Assets</a>
        </div>
    </div>
</div>