{{> nav }}

<!-- Section: Contact -->
<div class="container">

    <span id="listmessage" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Show Location</span>


    <div class="row">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#" onclick="closeNav()">Site Locations</a>
            {{!-- <a href="#">GE Digital</a> --}}
            <ul id='sitesList'>
                <li>{{> siteManager }}</li>
            </ul>
        </div>
        <div>
            {{> googlemap }}
        </div>
        <div>
            <p>SOME TEXT</p>
            {{> siteManager }}
        </div>


        <script>
                    var siteuid = "{{#each siteManager}}{{uuid}}{{/each}}";
                    console.log(siteuid);
                    $.ajax()
                    document.getElementById("mySidenav").style.width = "250px";
                    $("#listmessage").hide();
                    function openNav() {
                        $("#listmessage").hide();
                        document.getElementById("mySidenav").style.width = "250px";

                    }
                    function closeNav() {
                        $("#listmessage").show();
                        document.getElementById("mySidenav").style.width = "0";
                    }


                    const customerpage = function () {

                        $(".home").show();
                        $(".admin").hide();
                        $(".customer").hide();
                        $(".site").hide();
                        $(".index").hide();
                        $(".login").hide();
                        //Test
                        $(".test").hide();
                    };
                    customerpage();
        </script>

    </div>
</div>
<div class="container">
    <div class="row">
        <div>
            <a href="/site" class="btn btn-large">Request new site</a>
            <a href="/scanner" class="btn btn-large">Camera widget </a>
        </div>
    </div>
</div>