{{> nav }}


<div class="container">
    <br>
    <div class="row">
        <form id="addressform" class="form-horizontal">
            <fieldset>
                <!-- Address form -->
                <h2>Add a New Site</h2>
                <!-- address-line1 input-->
                <div class="control-group">
                    <label class="control-label">Address</label>
                    <div class="controls">
                        <input id="address-line1" name="address-line1" type="text" placeholder="Street Address" class="input-xlarge white grey-text autocomplete">
                        <p class="help-block">Street Address</p>
                    </div>
                </div>

                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City / Town</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="control-group">
                    <label class="control-label">State / Province / Region</label>
                    <div class="controls">
                        <input id="region" name="region" type="text" placeholder="state / province / region" class="input-xlarge second white grey-text autocomplete">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip / Postal Code</label>
                    <div class="controls">
                        <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code" class="input-xlarge">
                        <p class="help-block"></p>
                    </div>
                </div>
            </fieldset>
            <br />
            <button id="formadd" type="submit" class="btn btn-default">Submit</button>
            <button id="formclear" type="submit" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>



<!--Import jQuery before materialize.js-->


<script type="text/javascript" src="/assets/js/states.js">

</script>


<script>
    $(document).ready(function () {
        //from server to client
        var states = "{{ findstates }}";
        states = JSON.parse(states.replace(/&quot;/g, '"'));
        $('.second.autocomplete').autocomplete({
            data: { 'Hi': '' },
            onAutocomplete: function (city) {

            }
        });


        $('.autocomplete').autocomplete({
            data: states,
            onAutocomplete: function (STATE) {
            }
        });




    });

    $("#formadd").on("click", function (event) {
        event.preventDefault();
        alert("Submit");
        var a = $("#address-line1").val().trim();
        var c = $("#city").val().trim();
        var s = $("region").val().trim();
        var p = $("#postal-code").val().trim();
        var newSite = {
            address : a,
            city : c,
            region : s,
            postcode : p,
            uuid : localStorage.getItem("uuid")
        }
        $.ajax("/api/addSite" {
            type: "POST"
        }).then(function (r) {
            alert("Site Added");
        };
    });

    $("#formclear").on("click", function (event) {
        event.preventDefault();
        alert("Cancel");
        $("#address-line1").val("");
        $("#city").val("");
        $("region").val("");
        $("#postal-code").val("");
    });




    const sitepage = function () {

        $(".home").show();
        $(".admin").hide();
        $(".customer").hide();
        $(".site").hide();
        $(".index").hide();
        $(".login").hide();
        //Test
        $(".test").hide();
    };
    sitepage();

    $("#mysites").click(function () {
        var uuid = localStorage.getItem("uuid");
        window.location.href = "/mysites/" + uuid;
    });

</script>