{{> nav }}

<div class='container'>
    <div class='row'></div>
    <div class='row'>
        <p id='siteaddress'>The below assets are for site located at: </p>
    </div>
    <div class='row'>
        <table class="bordered highlight responsive-table">
            <tr>
                <th>Serial</th>
                <th>Catelog ID #</th>
                <th>Description</th>
                <th>Cost</th>


            </tr>
            <tbody>

                {{#each siteassets}}
                <tr id="{{this.siteid}}">{{> users/assets}}</tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>

<script>
    if (localStorage.getItem("uuid") == null) {
        alert("You have not logged in.")
        window.location.href = "/home"
    }
    const customerpage = function () {

        $(".home").show();
        $(".admin").hide();
        $(".customer").hide();
        $(".site").hide();
        $(".index").hide();
        $(".login").hide();
        //$("#mySidenav").hide();
        //Test
        $(".test").hide();
    };
    customerpage();

    $("#mysites").click(function () {
        var uuid = localStorage.getItem("uuid");
        window.location.href = "/mysites/" + uuid;
    });
    var siteaddress = localStorage.getItem("siteaddress");
    $("#siteaddress").append(siteaddress);
</script>